.base{
  width: 19.44em;
  height: 38.5em;
  display: flex;
  margin: auto;
  margin-top: 2.5em;
  flex-direction: column;
  border-radius: 7% 7% 7% 7%;
}

.cabeza{
  background-color: green;
  width: 19.44em;
  height: 18em;
  display: flex;
  flex-direction: column;
  border-radius: 7% 7% 7% 7%;
}

.parteSup{
  height: 2.3em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 7% 7% 0 0;
}

.circle1{
  background-color: black;
  width: 1.55em;
  height: 1.55em;
  border-radius: 50% 50% 50% 50%;
  margin: 0.35em 0.9em;
}

.circle2{
  background-color: darkblue;
  width: 1.3em;
  height: 1.3em;
  border-radius: 50% 50% 50% 50%;
  margin: auto;
}

.parteMed{
  height: 13.4em;
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.lateralExt{
  width: 2em;
  background-color: pink;
}

.parteMedCen{
  width: 15em;
  height: 12.9em;
  border: 4px solid darkred;
}

.parteInt{
  background-color: rebeccapurple;
  height: 12.9em;
  width: 15em;
  display: flex;
  flex-direction: column;
}

.parteIntSup{
  height: 1em;
  width: 15em;
  background-color: black;
}

.parteIntMed{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 10em;
}

.lateralInt{
  width: 1em;
  height: 10em;
  background-color: black;
  justify-content: space-between;
}

.parteIntInf{
  height: 1.9em;
  width: 15em;
  background-color: black;
  display: flex;
  justify-content: center;
}

.logo{
  margin-top: 0.4em;
}

.parteInf{
  height: 2.3em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.circle4{
  background-color: darkblue;
  width: 1.3em;
  height: 1.3em;
  border-radius: 50% 50% 50% 50%;
  margin: 0.35em 0.9em;
}

.union{
  width: 19.44em;
  height: 2.5em;
  display: flex;
  flex-direction: column;
}

.fondoUnion{
  width: 19.44em;
  height: 1.5em;
  background-color: palegoldenrod;
  margin-top: 1.1em;
} 

.parteMedia{
  position: absolute;
  width: 19.44em;
  height: 1.5em;
  display: flex;
  flex-direction: row;
}

.hijo1{
  background-color: orange;
  width: 1.9em;
  height: 2.4em;
  border-radius: 50% 0 0 50%;
  border-bottom: 0.1em solid black;
}

.raya{
  background-color: red;
  width: 0.15em;
  height: 2.4em;
  border-bottom: 0.1em solid black;
}
 
.hijo2{
  background-color: papayawhip;
  width: 7.41em;
  height: 2.4em;
  border-bottom: 0.1em solid black;
}

.hijo3{
  background-color: orange;
  width: 6.11em;
  height: 2.4em;
  border-bottom: 0.1em solid black;
}

.hijo4{
  background-color: papayawhip;
  width: 1.55em;
  height: 2.4em;
  border-bottom: 0.1em solid black;
}

.hijo5{
  background-color: orange;
  width: 1.9em;
  border-radius: 0% 50% 50% 0%;
  height: 2.4em;
  border-bottom: 0.1em solid black;
}




.cuerpo{
 background-color: grey;
 width: 19.44em;
 height: 18em;
 border-radius: 0 0 7% 7%;
 display: flex;
 flex-direction: column;
}

 .primeraParte{
  background-color: goldenrod;
  width: 19.44em;
  height:1em;
}

.segundaParte{
  background-color: greenyellow;
  width: 19.44em;
  height: 1.5em;
  display: flex;
  flex-direction: row;
}

.segundaParte1{
  background-color: navajowhite;
  width: 8.7em;
}

.segundaParte2{
  background-color: blue;
  width: 1.5em;
  border-radius: 50% 50% 50% 50%;
  display: flex;
  justify-content: center;
}

.botonLuz{
  background-color: grey;
  height: 1.1em;
  width: 1.1em;
  margin-top: 0.2em;
  border-radius: 50% 50% 50% 50%;
}

.segundaParte3{
  background-color: navajowhite;
  width: 8.8em;
}

.segundaParte4{
  background-color: gainsboro;
  width:0.8em;
}

.primeraLuz{
  background-color: green;
  height: 0.75em;
}

.terceraParte{
  height: 0.8em;
  background-color: aquamarine;
  width: 19.44em;
  display: flex;
  flex-direction: row;
}

.huecoTerceraParte{
  width: 18.64em;
  height: 0.8em;
  background-color: palevioletred;
}
.segundaLuz{
  width: 0.8em;
  height: 0.8em;
  background: green;
}

.cuartaParte{
  background-color: lightskyblue;
  width: 19.44em;
  height: 6.5em;
  display: flex;
  flex-direction: row;
}

.cuartaParte1{

}


.cuartaParte2{
  width: 15em;
}




.quintaParte{
  background-color: yellowgreen;
  width: 19.44em;
  height: 2.3em;
}

.sextaParte{
  background-color: peachpuff;
  width: 19.44em;
  height: 1.7em;
}

.septimaParte{
  background-color: sienna;
  width: 19.44em;
  height: 2.5em;
}
