.base{
  width: 19.44em;
  height: 38.5em;
  display: flex;
  margin: auto;
  margin-top: 2.5em;
  flex-direction: column;
  border-radius: 7% 7% 7% 7%;

}

.cabeza{
  background-color: #CAC8C7;
  width: 19.44em;
  height: 18em;
  display: flex;
  flex-direction: column;
  border-right: 0.2em solid #515151;
  border-radius: 7% 7% 7% 7%;
  box-shadow: 30px 30px 42px 0px rgba(0,0,0,0.63);
  background: rgb(152,151,151);
  background: linear-gradient(160deg, rgba(152,151,151,1) 0%, rgba(230,230,230,1) 100%);
}

.parteSup{
  height: 2.3em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 7% 7% 0 0;
}

.circle1{
  
  background: linear-gradient(160deg, rgba(60,60,60,100) 0%, rgba(245,245,245,1) 100%);
  width: 1.55em;
  border: 0.09em solid #3c3c3c;
  height: 1.55em;
  border-radius: 50% 50% 50% 50%;
  margin: 0.35em 0.9em;
}

.circle2{
  border: 0.09em solid #3c3c3c;
  background-color: #B9B9B9; 
  width: 1.3em;
  height: 1.3em;
  border-radius: 50% 50% 50% 50%;
  margin: auto;
}

.parteMed{
  height: 13.4em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.lateralExt{
  width: 2em;
}

.parteMedCen{
  width: 15em;
  height: 12.9em;
  border: 4px solid rgba(60,60,60,100);
}

.parteInt{
  background: linear-gradient(160deg, rgba(84,110,107,1) 0%, rgba(175,174,172,1) 100%);
  height: 12.9em;
  width: 15em;
  display: flex;
  flex-direction: column;
}

.parteIntSup{
  height: 1em;
  width: 15em;
  background-color: black;
}

.parteIntMed{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 10em;
}

.lateralInt{
  width: 1em;
  height: 10em;
  background-color: black;
  justify-content: space-between;
}

.parteIntInf{
  height: 1.9em;
  width: 15em;
  background-color: black;
  display: flex;
  justify-content: center;
}

.logo{
  margin-top: 0.4em;
}

.parteInf{
  height: 2.3em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.circle4{
  border: 0.09em solid #3c3c3c;
  background-color: #B9B9B9; 
  width: 1.3em;
  height: 1.3em;
  border-radius: 50% 50% 50% 50%;
  margin: 0.35em 0.9em;
}

.union{
  width: 19.44em;
  height: 2.5em;
  display: flex;
  flex-direction: column;
}

.fondoUnion{
  border-right: 0.2em solid #515151;
  width: 19.44em;
  height: 1.5em;
  background: linear-gradient(3deg, rgba(152,151,151,1) 0%, rgba(230,230,230,1) 100%);;
  margin-top: 1.1em;
} 

.parteMedia{
  position: absolute;
  width: 19.44em;
  height: 1.5em;
  display: flex;
  flex-direction: row;
}

.hijo1{
  background: linear-gradient(160deg, rgba(152,151,151,1) 0%, rgba(230,230,230,1) 100%);
  width: 1.9em;
  height: 2.5em;
  border-radius: 50% 0 0 50%;
}

.raya{
  background-color: #3C3C3C;
  width: 0.15em;
  height: 2.5em;
}
 
.hijo2{
  background: linear-gradient(160deg, rgba(152,151,151,1) 0%, rgba(230,230,230,1) 100%);
  width: 7.41em;
  height: 2.5em;
}

.hijo3{
  background: linear-gradient(160deg, rgba(152,151,151,1) 0%, rgba(230,230,230,1) 100%);
  width: 6.11em;
  height: 2.5em;
}

.hijo4{
  background: linear-gradient(160deg, rgba(152,151,151,1) 0%, rgba(230,230,230,1) 100%);
  width: 1.55em;
  height: 2.5em;
}

.hijo5{
  background: linear-gradient(160deg, rgba(152,151,151,1) 0%, rgba(230,230,230,1) 100%);
  width: 1.9em;
  border-radius: 0% 50% 50% 0%;
  height: 2.5em;
  
}




.cuerpo{
  border-right: 0.2em solid #515151;
  background: rgb(152,151,151);
  background: linear-gradient(160deg, rgba(152,151,151,1) 0%, rgba(230,230,230,1) 100%);
  width: 19.44em;
  height: 18em;
  border-radius: 0 0 7% 7%;
  display: flex;
  flex-direction: column;
  box-shadow: 30px 30px 42px 0px rgba(0,0,0,0.63);
}

 .primeraParte{
  width: 19.44em;
  height:1em;
}

.segundaParte{
  width: 19.44em;
  height: 1.5em;
  display: flex;
  flex-direction: row;
}

.segundaParte1{
  width: 9.1em;
}

.segundaParte2{
  background: linear-gradient(160deg, rgba(60,60,60,100) 0%, rgba(245,245,245,1) 100%);
  width: 1.3em;
  height: 1.3em;
  border-radius: 50% 50% 50% 50%;
  display: flex;
  justify-content: center;
}

.botonLuz{
  background-color: #6E6E6E;
  border-right: 0.1em solid #3C3C3C;
  height: 0.9em;
  width: 0.9em;
  margin-top: 0.2em;
  border-radius: 50% 50% 50% 50%;
}

.segundaParte3{
  width: 8.8em;
}

.segundaParte4{
  width:0.8em;
}

.primeraLuz{
  background-color: rgba(84,110,107,1);
  height: 0.75em;
}

.terceraParte{
  height: 0.8em;
  width: 19.44em;
  display: flex;
  flex-direction: row;
}

.huecoTerceraParte{
  width: 18.64em;
  height: 0.8em;
}
.segundaLuz{
  width: 0.8em;
  height: 0.8em;
  background: rgba(84,110,107,1);
}

.cuartaParte{
  width: 19.44em;
  height: 6.5em;
  display: flex;
  flex-direction: row;
}

.cuartaParte1{
  width: 1.5em;
  height: 6.5em;
}

.cuartaParte2{
  width: 6.5em;
  height: 6.5em;
  background: linear-gradient(160deg, rgba(60,60,60,100) 0%, rgba(245,245,245,1) 100%);
  border-radius: 50% 50% 50% 50%;
  display: flex;
  justify-content: center;
}

.circleFlechas1{
  background-color: #B9B9B9;
  width: 5.7em;
  height: 5.7em;
  margin-top: 0.4em;
  border-radius: 50% 50% 50% 50%;
  display: flex;
  justify-content: center;
}

.flechas{
  width: 4em;
  height: 4em;
  margin-top: 0.8em;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
  ". arriba ."
  "izquierda centro derecha"
  " .abajo .";
}

.arriba{
  grid-area: arriba;
  background-color: #8f8f8f;
  border-radius: 20% 20% 0 0;
  border-right: 0.1em solid #3C3C3C;
}

.derecha{
  grid-area: derecha;
  background: linear-gradient(90deg, rgba(143,143,143,1) 0%, rgba(224,224,224,0.01) 100%);
  border-right: 0.1em solid #3C3C3C;

  border-radius: 0 20% 20% 0;
}

.izquierda{
  grid-area: izquierda;
  background-color: #8f8f8f;

  border-radius: 20% 0 0 20%;
}

.abajo{
  grid-area: abajo;
  background-color: #8f8f8f;
  border-right: 0.1em solid #3C3C3C;
  border-radius: 0 0 20% 20%;
}

.centro{
  grid-area: centro;
  background-color: #8f8f8f;
}

.centroCircle{
  height: 1.3em;
  width: 1.3em;
  background: linear-gradient(90deg, rgba(143,143,143,1) 0%, rgba(224,224,224,0.01) 100%);
  border-radius: 50% 50% 50% 50%;
}

.cuartaParte3{
  width: 3em;
  height: 1em;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 6em;
}

.primeraFila{
  display: flex;
  justify-content: space-around;
  width: 3em;
  height: 0.5em;
}

.sonido1{
  width: 0.3em;
  height: 0.3em;
  background-color: black;
  border-radius: 50% 50% 50% 50%;
  margin-top: 0.1em;
  margin-left: 0.09em;
}


.cuartaParte4{
  width: 7em;
  height: 6.5em;
}

.bordebotones{
  margin-top: 1.5em;
  background: linear-gradient(160deg, rgba(60,60,60,100) 0%, rgba(245,245,245,1) 100%);
  height: 3.5em;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  border-radius: 13em 13em 13em 13em;
  transform: rotate(-15deg);
}

.huecoBotones{
  background-color: #B9B9B9;
  height: 2.7em;
  width: 6.2em;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  border-radius: 13em 13em 13em 13em;
}

.boton{
  text-align: center;
  background: linear-gradient(90deg, rgba(143,143,143,1) 0%, rgba(224,224,224,0.01) 100%);
  width: 2em;
  height: 2em;
  border-radius: 50% 50% 50% 50%;
  transform: rotate(15deg);
  border-right: 0.1em solid #3C3C3C;
}

.letra_ab{
  margin-top: 4px;
  margin-bottom: 5px;
  font-family: 'Bebas Neue', cursive;
  font-size: 1.3em;
}

.cuartaParte5{
    width: 1.5em;
    height: 6.5em;
}

.quintaParte{
  width: 19.44em;
  height: 2.3em;
  display: flex;
  flex-direction: row;
}

.quintaParte1{
  width: 8em;
  height: 2.3em;
}

.quintaParte2{
  width: 3em;
  height: 2.3em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.segundaFila{
  display: flex;
  direction: row;
  justify-content: space-around;
  width: 3em;
  height: 0.5em;
}

.sonido2{
  width: 0.3em;
  margin-top: 0.2em;
  height: 0.3em;
  background-color: black;
  border-radius: 50% 50% 50% 50%;
}

.terceraFila{
  display: flex;
  direction: row;
  justify-content: space-around;
  width: 3em;
  height: 0.5em;
}

.sonido3{
  width: 0.3em;
  margin-top: 0.2em;
  height: 0.3em;
  background-color: black;
  border-radius: 50% 50% 50% 50%;
}

.cuartaFila{
  display: flex;
  direction: row;
  justify-content: space-around;
  width: 3em;
  height: 0.5em;
}

.sonido4{
width: 0.3em;
margin-top: 0.2em;
height: 0.3em;
background-color: black;
border-radius: 50% 50% 50% 50%;
}

.sextaParte{
  width: 19.44em;
  height: 1.7em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: 'Bebas Neue', cursive;
} 

.select{
  color: #595959;
  font-size: 0.8em;
  margin-top: 0.5em;
  margin-right: 1em;
}

.start{
  color: #595959;
  font-size: 0.8em;
  margin-top: 0.5em;
  margin-left: 1em;
}

 .septimaParte{
  width: 19.44em;
  height: 2.2em;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.bordeSelect{
  height: 2.2em;
  width: 2.2em;
  border-radius: 50% 50% 50% 50%;
  background: linear-gradient(160deg, rgba(60,60,60,1) 0%, rgba(212,212,212,0.01) 100%);
  display: flex;
  justify-content: center;
  margin-right: 1em;
}

.huecoSelect{
  background-color:#C4C4C4;
  height: 1.7em;
  width: 1.7em;
  margin-top: 0.2em;
  border-radius: 50% 50% 50% 50%;
  display: flex;
  justify-content: center;
}

.botonSelect{
  background: linear-gradient(90deg, rgba(143,143,143,1) 0%, rgba(224,224,224,0.01) 100%);
  border-right: 0.1em solid #3C3C3C;
  height: 0.9em;
  width: 0.9em;
  border-radius: 50% 50% 50% 50%;
  margin-top: 0.4em;
}

.bordeStart{
  height: 2.2em;
  width: 2.2em;
  border-radius: 50% 50% 50% 50%;
  display: flex;
  justify-content: center;
  background: linear-gradient(160deg, rgba(60,60,60,1) 0%, rgba(212,212,212,0.01) 100%);

}

.huecoStart{
  background-color:#C4C4C4;
  height: 1.7em;
  width: 1.7em;
  margin-top: 0.2em;
  border-radius: 50% 50% 50% 50%;
  display: flex;
  justify-content: center;
}

.botonStart{
  background: linear-gradient(90deg, rgba(143,143,143,1) 0%, rgba(224,224,224,0.01) 100%);
  border-right: 0.1em solid #3C3C3C;
  height: 0.9em;
  width: 0.9em;
  border-radius: 50% 50% 50% 50%;
  margin-top: 0.4em;
}